<footer>
    <div class="footer-container">
      <!-- About Us -->
      <div class="footer-column">
        <h3>About Us</h3>
        <p>Secure, efficient, and digitally verified airport access control system ensuring safety and compliance with government standards.</p>
      </div>

      <!-- Quick Links -->
      <div class="footer-column">
        <h3>Quick Links</h3>
        <a href="/home">Home</a><br>
        <a href="/signup">Apply for Pass</a><br>
        <a href="https://www.google.com/maps/dir//Airports+Authority+of+India,+Indira+Gandhi+International+Airport,+New+Delhi,+Delhi,+110037/@28.5592601,77.0689767,13.64z/data=!4m8!4m7!1m0!1m5!1m1!1s0x390d1b85ab49a113:0x3ed798fc0303d0f8!2m2!1d77.09398!2d28.5576107?entry=ttu&g_ep=EgoyMDI1MDgxNy4wIKXMDSoASAFQAw%3D%3D" target="
        -blank">Location</a><br>
        <a href="https://www.aai.aero/en/privacy-policy" target="_blank">Guidelines & Policies</a><br>
        <a href="https://www.aai.aero/en/contact-us" target="_blank">Help & Support</a>
      </div>

      <!-- Contact Us -->
      <div class="footer-column">
        <h3>Contact Us</h3>
        <p>Regional Headquarters,<br>
           Airports Authority of India,<br>
           NATS Complex (near IGI Airport, Terminal-2),<br>
           New Delhi, India</p>
        <p>📞 +91-11-24632950</p>
        <p>📧 support.passpermit@aai.aero</p>
      </div>

      <!-- Media -->
      <div class="footer-column">
        <h3>Media</h3>
        <a href="https://www.aai.aero/en/media/press-releases" target="_blank">Press Releases</a><br>
        <a href="https://www.aai.aero/en/media/latest-news" target="_blank">News & Announcements</a><br>
        <a href="https://www.aai.aero/en/media/photogallery" target="_blank">Photo Gallery</a><br>
        <a href="https://www.aai.aero/en/media/press-clippings" target="_blank">Coverage</a>
      </div>
    </div>

    <!-- Follow Us -->
    <div class="footer-social">
      <h3>Follow Us</h3>
      <div class="social-icons">
        <a href="https://www.facebook.com/AirportsAuthorityOfIndiaOfficial/" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://x.com/AAI_Official" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/company/airportsauthorityofindia/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://www.youtube.com/@AirportsAuthorityofIndia" target="_blank"><i class="fab fa-youtube"></i></a>
      </div>
    </div>

    <!-- Bottom -->
    <div class="footer-bottom">
      © 2025 Regional Headquarters, Airport Authority of India. All rights reserved.
    </div>
  </footer>