<nav class="navbar navbar-expand-lg bg-white shadow-sm sticky-top" style="font-size: 1.3rem;">
  <div class="container-fluid px-4">

    <!-- Brand -->
    <a class="navbar-brand d-flex align-items-center gap-2" href="#">
      <img src="https://img.icons8.com/ios-filled/50/ffffff/airport.png" width="40" height="40"
        class="rounded-circle p-1" style="background-color: #0059b3;" />
      <div class="d-flex flex-column lh-sm">
        <strong style="font-size: 1.6rem; color: #0059b3;">Airport Authority of India</strong>
        <small class="text-muted" style="font-size: 1.1rem;">Digital Pass Management System</small>
      </div>
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mobileNavbar"
      aria-controls="mobileNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Nav links -->
    <div class="collapse navbar-collapse" id="mobileNavbar">


      <!-- Center nav links -->
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0" style="gap: 1.5rem;">
        <li class="nav-item"><a class="nav-link text-center" href="/home" style="color: #0059b3;">Home</a></li>
        <li class="nav-item"><a class="nav-link text-center" href="/process" style="color: #0059b3;">Services</a></li>
        <li class="nav-item"><a class="nav-link text-center" href="/about" style="color: #0059b3;">About</a></li>
        <li class="nav-item"><a class="nav-link text-center" href="/contact" style="color: #0059b3;">Contact</a></li>
        <li class="nav-item"><a class="nav-link text-center" href="/login" style="color: #0059b3;">Login</a></li>
        <li class="nav-item"><a class="nav-link text-center" href="/signup" style="color: #0059b3;">SignUp</a></li>
      </ul>
          <!-- Right Section -->
          <div class="col-lg-6 d-flex justify-content-end mt-3 mt-lg-0">

            

      <!-- Right button -->
      <div class="d-flex justify-content-lg-end justify-content-center mt-3 mt-lg-0">
        <a href="/login" class="btn fw-bold" style="background-color: #0059b3; color: white;">Download Pass</a>            <a href="../../kanishq/generate_pass_final.js" class="btn fw-bold" style="background-color: #0059b3; color: white;">Download Pass</a>
          </div>
          
        </div>
      </div>

    </div>
  </div>
</nav>
