<nav class="navbar navbar-expand-lg bg-white shadow-sm sticky-top" style="font-size: 1.3rem;">
  <div class="container-fluid px-4">
    <div class="row w-100 align-items-center">

      <!-- Left Section -->
      <div class="col-6 col-lg-4 d-flex align-items-center">
        <a class="navbar-brand d-flex align-items-center gap-2" href="#">
          <img src="https://img.icons8.com/ios-filled/50/ffffff/airport.png" width="40" height="40"
            class="rounded-circle p-1" style="background-color: #0059b3;" />
          <div class="d-flex flex-column lh-sm">
            <strong style="font-size: 1.6rem; color: #0059b3;">Airport Authority of India</strong>
            <small class="text-muted" style="font-size: 1.1rem;">Digital Pass Management System</small>
          </div>
        </a>
      </div>

      <!-- Toggler for small screens -->
      <div class="col-6 d-lg-none d-flex justify-content-end">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mobileNavbar" aria-controls="mobileNavbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <!-- Center + Right Section: Collapsible on small screens -->
      <div class="col-12 collapse navbar-collapse mt-3 d-lg-flex col-lg-8 mt-lg-0" id="mobileNavbar">
        <div class="row w-100 align-items-center">
          
          <!-- Center Section -->
          <div class="col-lg-6 d-flex justify-content-center">
            <ul class="navbar-nav flex-row flex-lg-row flex-column w-100 justify-content-center" style="gap: 1.5rem;">
              <li class="nav-item">
                <a class="nav-link text-center" href="/home" style="color: #0059b3;">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-center" href="/process" style="color: #0059b3;">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-center" href="/about" style="color: #0059b3;">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-center" href="/contact" style="color: #0059b3;">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-center" href="/login" style="color: #0059b3;">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-center" href="/signup" style="color: #0059b3;">SignUp</a>
              </li>
            </ul>
          </div>


          <!-- Right Section -->
          <div class="col-lg-6 d-flex justify-content-end mt-3 mt-lg-0">
            <a href="../../kanishq/generate_pass_final.js" class="btn fw-bold" style="background-color: #0059b3; color: white;">Download Pass</a>
          </div>
          
        </div>
      </div>

    </div>
  </div>
</nav>
