<% layout('layouts/boilerplate') %>
<section class="how-to-section pt-5" id="process">
        <div class="how-to-heading">
            <h1>Simple 3-Step Process</h1>
            <p>Get your airport pass in minutes with our streamlined digital process</p>
        </div>
        <div class="how-to-steps ">
            <div class="step1 ms-2">
                <div class="circle1 circle-hover">1</div>
                <h3 class="step-heading">Submit Details</h3>
                <p class="step-text">HR submits your information with required documents and verification</p>
            </div>
            <div class="step2">
                <div class="circle2 circle-hover">2</div>
                <h3 class="step-heading">Verify Identity</h3>
                <p class="step-text">Authenticate using your Aadhaar through secure DigiLocker integration</p>
            </div>
            <div class="step3">
                <div class="circle3 circle-hover">3</div>
                <h3 class="step-heading">Download Pass</h3>
                <p class="step-text">Instantly receive your digitally signed pass with QR code verification</p>
            </div>
        </div>
    </section>
