<% layout("layouts/boilerplate") %>
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh">
  <div class="card signup-box p-4" style="width: 30rem">
    <h3 class="text-center mb-3">Login</h3>

    <!-- Login Form -->
    <form action="/login" method="POST">
      <div class="mb-3">
        <label for="email" class="form-label">Email Address</label>
        <input type="email" name="email" class="form-control" id="email" placeholder="Enter email" required />
      </div>

      <div class="mb-3">
        <label for="companyID" class="form-label">CompanyId</label>
        <input type="text" name="enrollmentOrCompanyId" class="form-control" id="companyID" placeholder="Enter CompanyId" />
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="password" placeholder="Password" required />
      </div>

      <button type="submit" class="btn text-white w-100" style="background-color: #0059b3">Login</button>
    </form>

    <!-- Already have account -->
    <p class="text-center mt-3">
      Don’t have an account? <a href="/signup" class="text-decoration-none" style="color: #0059b3;">Signup</a>
    </p>
  </div>
</div>
